
:root {
    --color-0: #F0FF42;
    --color-1: #82CD47;
    --color-2: #54B435;

    --text-0: #000;

    --transition: all 0.5s;
}

body {
    display: flex;
    flex-direction: column;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.imgBox {
    height: 90%;
    width: 50%;
    transition: var(--transition);
}
.imgBox:hover {
    transform: scale(1.03);
}

/* Ladding Page */
.ladding-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    height: max-content;
    gap: 30px;
    background-image: url(https://images.pexels.com/photos/2023384/pexels-photo-2023384.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
}
.ladding-page .imgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ld-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    gap: 10px;
    color: #ffa500;
}
.h-textbox {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.h-textbox h1 {
    font-size: 30px;
}
.h-textbox span {
    font-size: 15px;
}
.iWant_btn {
    height: 50px;
    width: 35em;
    font-weight: 600;
    border-radius: 12px;
    background: #ffa500;
    border: none;
    color: var(--background-color-1);
    transition: var(--transition);
}
.iWant_btn:hover {
    transform: scale(1.03);
}

/* LP Ead */
.ladding-page-ead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: max-content;
    gap: 1em;
    background: var(--color-0);
}
.ladding-page-ead .imgBox img {
    border-radius: 12px;
    width: 35em;
}
.lpe-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 3em;
    padding: 20px;
    width: 55%;
}
.lpe-textbox h1 {
    text-align: center;
    font-size: 50px;
    width: 100%;
}
.lpe-textbox ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
}
.lpe-textbox li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* Quem Precisa */
.why-need {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: max-content;
    background: var(--color-0);
    background: url(https://images.pexels.com/photos/7516815/pexels-photo-7516815.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
}
.wn-container {
    display: flex;
    flex-direction: column;
    margin: 3em;
    padding: 20px;
    width: 55%;
    height: max-content;
    border-radius: 12px;
    gap: 1em;
    background: var(--color-1);
}
.wn-container h1 {
    text-align: center;
    font-size: 50px;
}
.wn-container ol {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 10px;
}
.wn-container li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.wn-container span {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.wn-container button {
    margin: 0 auto;
}

/* Oferta especial */
.special-buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://images.pexels.com/photos/18868283/pexels-photo-18868283/free-photo-of-fotografia-animal-fotografia-de-animais-bandana-lenco.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
}
.special-buy .imgBox {
    width: 50%;
}
.sb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: max-content;
    margin: 2em;
    padding: 20px;
    border-radius: 12px;
    background: var(--color-1);
}
.sb-container h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.sb-container button {
    width: 25em;
}
.sb-container img {
    width: 18em;
}
.sb-container strong {
    color: #ffa500;
}
.sbc-price {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    font-weight: 600;
}
.sbc-price h2 {
    color: red;
    font-size: 70px;
}

/* Sua segurança zé */
.security {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--color-0);
    padding: 1em;
}
.security img {
    width: 30%;
}
.s-textbox {
    width: 50%;
}
.s-textbox h1 {
    font-size: 40px;
}
.s-textbox span {
    font-size: 20px;
}

/* Duvidas frequentes */
.frequently-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 5em;
    background: var(--color-0);  
}
.frequently-questions h1 {
    font-size: 60px;
}
.fq-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 60%;
}
.fq-list ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.fq-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.fq-text {
    background: var(--color-1);
    gap: 5px;
    padding: 10px;
    border-radius: 12px;
}
.fq-list li:hover {
    .fq-list-textbox {
        display: block;
    }
}
.fq-list-textbox {
    display: none;
    background: #ffa500;
    border-radius: 12px;
    padding: 5px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5em;
    background: #000;
}
footer span {
    width: 70%;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .imgBox {
        display: none;
    }
    .ld-container {
        width: 100%;
    }
    .why-need {
        height: max-content;
    }
    .wn-container {
        width: 60%;
        gap: 20px;
    }
    .wn-container ol {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .wn-container button {
        width: 90%;
    }
    .lpe-textbox ol {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .security {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .security img {
        height: 150px;
        width: 150px;
    }
    .s-textbox {
        width: 70%;
    }
    .s-textbox h1 {
        font-size: 35px;
    }
    .frequently-questions {
        gap: 20px;
        padding: 2em;
    }
    .frequently-questions h1 {
        text-align: center;
        font-size: 35px;
    }
    .fq-list {
        width: 90%;
    }
    footer {
        width: 100%;
        padding: 1em;
    }
    footer span {
        width: 100%;
        font-size: 10px;
    }
}

/* Mobile 425 */
@media screen and (max-width: 425px) {
    .iWant_btn {
        width: 25em;
        height: 60px;
        font-size: 12px;
    }
    .ladding-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        padding: 2em;
        gap: 0px;
    }
    .ladding-page iframe {
        transform: scale(60%);
    }
    .ld-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        width: 100%;
    }
    .h-textbox {
        width: 100%;
    }
    .h-textbox h1 {
        width: 100%;
        font-size: 25px;
    }
    .payment_methods img {
        height: 50%;
    }

    .ladding-page-ead {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        gap: 0px;

        .imgBox {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 18px;
        }
        .imgBox img {
            height: 30em;
        }
    }
    .lpe-textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 20px;
    }
    .lpe-textbox h1 {
        width: 100%;
        font-size: 30px;
    }
    .lpe-textbox ol {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .lpe-textbox li {
        font-size: 21px;
    }
    .why-need {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;

        .imgBox {
            display: none;
        }
    }
    .wn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 20px;
    }
    .wn-container h1 {
        width: 100%;
        font-size: 40px;
    }
    .wn-container ol {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 0.5em;
    }
    .wn-container li {
        font-size: 21px;
    }
    .wn-container span {
        font-size:18px;
    }

    .special-buy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        padding: 2em;

        .imgBox {
            display: none;
        }
    }
    .special-buy .imgBox {
        display: none;
    }
    .sb-container {
        margin: 0 auto;
        width: 90%;
        text-align: center;

    }
    .sb-container h1 {
        font-size: 40px;
    }
    .sb-container span {
        font-size: 20px;
    }
    .sbc-price {
        font-size: 20px;
    }
    .sb-container button {
        display: none;
    }
    .sb-container img {
        transform: scale(80%);
    }
    
    .security {
        display: flex;
        flex-direction: column;
    }
    .s-textbox {
        width: 80%;
        text-align: center;
    }
    .s-textbox h1 {
        font-size: 40px;
    }
    .frequently-questions {
        width: 100%;
        padding: 2em;
        gap: 20px;
    }
    .frequently-questions h1 {
        font-size: 40px;
        text-align: center;
        width: 100%;
    }
    .fq-list {
        width: 100%;
    }
    .fq-list li {
        font-size: 20px;
    }
    footer {
        width: 100%;
        padding: 1em;
    }
    footer span {
        width: 100%;
        font-size: 10px;
    }
}

/* Mobile 375 */
@media screen and (max-width: 375px) {
    .iWant_btn {
        width: 24em;
        height: 60px;
        font-size: 12px;
    }
    .ladding-page iframe {
        transform: scale(50%);
    }
    .h-textbox h1 {
        font-size: 20px;
    }
    .sb-container img {
        transform: scale(60%);
    }
    .lpe-textbox h1 {
        font-size: 20px;
    }
    .lpe-textbox li {
        font-size: 20px;
    }
    .wn-container h1 {
        font-size: 20px;
    }
    .wn-container li {
        font-size: 20px;
    }
    .s-textbox h1 {
        font-size: 25px;
    }
    .s-textbox span {
        font-size: 18px;
    }
}